@import url(//fonts.googleapis.com/css?family=Muli);

/* Basic css */
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
p{
    line-height: 1.8;
}
a{
    color:#026efd;
    text-decoration: none;
}




*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* body{
    background: linear-gradient(90deg, rgb(0, 195, 255), rgb(179, 0, 255));
} */
.container{
    border:2px solid black;
    border-radius: 10px;
    width:40vw;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    /* align-items: center; */
    /* justify-content: center;
    text-align: center; */
    background: linear-gradient(90deg, rgb(174, 30, 236),rgb(86, 31, 225),rgb(25, 123, 242));
    color:beige;
    text-decoration: none;
    
}
#logo{
    /* justify-content: center; */
    justify-content: center;
    align-items: center;
    margin-left: 11vw;
    width: 120px;
    height:120px;
    border-radius: 50%;
    /* border: 5px solid linear-gradient(rgb(30, 64, 236)rgb(86, 31, 225),rgb(186, 1, 103)); */
}
.head{
    font-size: 35px;
    text-align: center;
}
.login{
    background-color: rgb(0, 102, 255);
    border:2px solid black;
    color:black;
    margin-left: 5vw;
    margin-right: 5vw;
}

input[type=text], select {
width: 85%;
padding: 12px 20px;
margin: 8px 16px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}
input[type=password], select {
width: 85%;
padding: 12px 20px;
margin: 8px 16px;
display: inline-block;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
}

input[type=submit] {
width: 85%;
background-color: #0043fd;
color: white;
padding: 14px 20px;
margin: 8px 16px;
border: none;
border-radius: 4px;
cursor: pointer;
}
label,input[type=checkbox]{
margin-left:16px;
}

/* Header */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}



.nav {
    position: fixed;
    width: 100%;
    margin-top:-20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(28, 166, 255);
}

li {
    display: inline;
}

.anc {
    float: left;
    display: block;
    color: white;
    font-size: 23px;
    text-align: center;
    padding: 17px 20px;
    text-decoration: none;
}

#login {
    float: right;
    margin: 15px 21px;
    padding: 0px;
    color: black;
    background-color: rgb(180 220 255);
    color: #0700c1;
    font-size: 25px;
    border: 1px solid #333;
}

#login:visited {
    color: blue;
}

#sign {
    float: right;
    margin: 15px 21px;
    padding: 0px;
    color: black;
    background-color: rgb(180 220 255);
    color: #0700c1;
    font-size: 25px;
    border: 1px solid #333;
}

#sign:visited {
    color: blue;
    text-decoration: underline;
}
ul .active a{
    background-color:pink;
}

/* CSS for content */
#content{
    padding:30px 100px;
}

/* Forms */
/* Messages */
ul.messages{
    margin:10px 100px;
    padding:0;
    list-style-type: none;

}
ul.messages li.success,
ul.messages li.warning,
ul.messages li.error,
ul.messages li.info{
    margin:0;
    padding:14px 20px;
    list-style: none;
    color:#fff;
}
ul.messages li.success{
    background: #81ce81;
}
ul.messages li.success a{
    background: rgb(0, 250, 0);
}
ul.messages li.error{
    background: rgb(185, 0, 59);
    color:rgb(255, 163, 246);
}
ul.messages li.error a{
    color: #ff6565;
}
ul.messages li a.close{
    float:right;
    opacity:1;
    box-shadow: none;

}
.login-form{
    float:left;
}