{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %} {% endblock %}</title>
        <link href="{% static 'css\base.css' %}" rel="stylesheet">
    </head>
    <body>
        <div id="logo">EduVerse</div>
        <div id="header">
            {%if request.user.is_authenticated %}
            <ul class="menu">
                <li {% if section == "dashboard" %} class="selected" {% endif %}><a href="{% url 'dashboard' %}">Dashboard</a></li>
           </div>
           {% endif %} 
           <div id="content">
            {% block content %} 

            
            {% endblock %}
            </div>
    </body>
</html>